html, body, #stage {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.ib {
  display: inline-block;
}

.va-middle {
  vertical-align: middle;
}

textarea {
  resize: none;
  display: block;
  width: 100%;
}
